@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'tailwindcss';
@theme {
  --font-roboto: 'Roboto', 'sans-serif';
  --text-tiny: 0.6rem;
  --color-primary: #69db7c;
  --color-secondary: #2f9e44;

  --animate-main-char1: main-char-move1 1s ease-in-out;
  @keyframes main-char-move1 {
    0% {
      top: -80px;
      left: -80px;
    }
    100% {
      top: 0px;
      left: 0px;
    }
  }

  --animate-main-char2: main-char-move2 1s ease-in-out;
  @keyframes main-char-move2 {
    0% {
      top: 80px;
      left: -80px;
    }
    100% {
      top: 0px;
      left: 0px;
    }
  }

  --animate-main-char3: main-char-move3 1s ease-in-out;
  @keyframes main-char-move3 {
    0% {
      top: -100px;
    }
    100% {
      top: 0px;
    }
  }

  --animate-main-char4: main-char-move4 1s ease-in-out;
  @keyframes main-char-move4 {
    0% {
      top: 80px;
      left: 80px;
    }
    100% {
      top: 0px;
      left: 0px;
    }
  }

  --animate-main-char5: main-char-move5 1s ease-in-out;
  @keyframes main-char-move5 {
    0% {
      top: -80px;
      left: 80px;
    }
    100% {
      top: 0px;
      left: 0px;
    }
  }

  --animate-main-string: main-string 1s linear 3.5s;
  @keyframes main-string {
    0% {
      color: rgb(0, 0, 0, 0%);
    }
    100% {
      color: rgb(0, 0, 0, 100%);
    }
  }

  --animate-selected-date: selected-date 1s linear infinite;
  @keyframes selected-date {
    0% {
      transform: translate(0px, 0px);
    }
    5% {
      transform: translate(0px, -2.16px);
    }
    10% {
      transform: translate(0px, -3.84px);
    }
    15% {
      transform: translate(0px, -5.04px);
    }
    20% {
      transform: translate(0px, -5.76px);
    }
    25% {
      transform: translate(0px, -6px);
    }
    30% {
      transform: translate(0px, -5.76px);
    }
    35% {
      transform: translate(0px, -5.04px);
    }
    40% {
      transform: translate(0px, -3.84px);
    }
    45% {
      transform: translate(0px, -2.16px);
    }
    50% {
      transform: translate(0px, 0px);
    }
    56% {
      transform: translate(0px, -1px);
    }
    62% {
      transform: translate(0px, -1.5px);
    }
    68% {
      transform: translate(0px, -1px);
    }
    75% {
      transform: translate(0px, 0px);
    }
  }
}

/* 자동완성 시 생기는 하늘색 배경 제거 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/* number 타입 input의 화살표 제거 */
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 일부 환경에서 hover가 동작하지 않는 문제 수정을 위한 설정 */
/* https://tailwindcss.com/docs/upgrade-guide#hover-styles-on-mobile */
@custom-variant hover (&:hover);

/* 달력 관련 CSS 지정 */
:root {
  --fc-neutral-bg-color: #ffffff;
  --fc-today-bg-color: #ffffff;
  --fc-border-color: transparent;
}

.fc .fc-col-header-cell-cushion,
.fc .fc-daygrid-day-top {
  font-family: 'Lexend', 'sans-serif';
}

.fc .fc-col-header-cell-cushion {
  padding-bottom: 8px;
}

.fc-day-disabled {
  background-color: #ffffff;
}

.fc-day-sun,
.fc-day-sun .fc-col-header-cell-cushion {
  color: #dd4444;
}

.fc-day-sat,
.fc-day-sat .fc-col-header-cell-cushion {
  color: #4477ee;
}

.fc .fc-daygrid-day-top {
  flex-direction: row;
  justify-content: center;
}

.fc .fc-daygrid-day-number {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
}

.fc-day-today .fc-daygrid-day-number {
  background-color: #69db7c;
}

/* 달력 내 event뿐만 아니라 fc-event를 여기에서 설정해야 달력 높이도 감소함 */
.fc-event {
  height: 18px !important;
}

.fc-event-start {
  border-radius: 8px 0 0 8px;
}

.fc-event-end {
  border-radius: 0 8px 8px 0;
}

.fc-event-start.fc-event-end {
  border-radius: 8px;
}

.fc .fc-popover {
  z-index: 8;
  color: #000000;
}

/* 달력에서 일별 전체 일정을 보여 주는 popover에 불필요하게 일자가 적힌 부분을 삭제 */
.fc-more-popover-misc {
  display: none;
}

/* DatePicker 용 CSS */
.react-datepicker__day-names .react-datepicker__day-name:first-child,
.react-datepicker__month-container .react-datepicker__day:first-child {
  color: #cc3333 !important;
}

.react-datepicker__day-names .react-datepicker__day-name:last-child,
.react-datepicker__month-container .react-datepicker__day:last-child {
  color: #3366ff !important;
}

.react-datepicker__day--outside-month {
  color: #cccccc !important;
}

.react-datepicker__month-container
  .react-datepicker__day:first-child.react-datepicker__day--outside-month {
  color: #ffcccc !important;
}

.react-datepicker__month-container
  .react-datepicker__day:last-child.react-datepicker__day--outside-month {
  color: #ccccff !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #ffffff !important;
}

.react-datepicker__day--today {
  background-color: #2f9e44 !important;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px; /* 세로 스크롤바 너비 */
  height: 8px; /* 가로 스크롤바 높이 */
}

::-webkit-scrollbar-thumb {
  background-color: lightgray; /* 스크롤바 색상 */
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}